# Environnement par défaut : développement
APP_ENV=dev
APP_DEBUG=1

###> symfony/framework-bundle ###
APP_SECRET=change_me
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Exemple MySQL (adapter selon environnement)
DATABASE_URL="mysql://user:password@127.0.0.1:3306/db_name"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> openai-php/symfony ###
OPENAI_API_KEY=sk-your_api_key_here
OPENAI_ORGANIZATION=
###< openai-php/symfony ###
