<footer class="footer-bottom-right" title="Mentions légales et copyright">
  &copy; {{ "now"|date("Y") }} 
  <span class="footer-content">
    Navarro Jean-Pierre | <a href="{{ path('mentions_legales') }}">Mentions légales</a> | <a href="{{ path('app_login') }}">Login</a>
  </span>
</footer>
